node_modules/
.env
config.json
snapshot.JSON
mutation/snapshots.json
mutation/Images
mutation/result.json
mutation/mutationCoverage.txt
1000_Mutations/
inventory.json
droplet-blue.json
droplet-green.json